@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>ZTW</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to ZTW</h2>
        <p>
            ZTW is a application developed during 
            Advanced Techniques of Web Development course.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get a look</h2>
        <p>You can view and download the project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/JanMowinski/Advanced-Techniques-of-Web-Development-Project">See project source code &raquo;</a></p>
    </div>
</div>